<div class="card">
  <div class="card-header">
    <h5 class="card-title"><strong>{{'HOME.TITLE' | translate}}</strong>
    </h5>
  </div>
  <div class="card-body">
    <p style="font-size :17px;">{{'HOME.MES'| translate : {username :user?.userName, dateConnection:lastconnection|
      date:' dd/MM/yyyy ' ,
      heureConncetion:lastconnection| date:' hh:mm:ss'} }} </p>

    <hr style="margin-top : 70px">
    <p style="font-size :15px;">{{'HOME.NOM' |translate : {name : user?.firstName} }} </p>
    <p style="font-size :15px;">{{'HOME.PRENOM' |translate : {prenom : user?.lastName} }} </p>
    <p style="font-size :15px;">{{'HOME.EMAIL' |translate : {mail : user?.email} }} </p>
    <p style="font-size :15px;">{{'HOME.TELEPHONE' |translate : {phone : user?.phoneNumber} }} </p>
    <hr style="margin-top : 70px">





    <p style="font-size :15px;">{{'HOME.MESSAGE' |translate}}<a routerLink="/edit-profil">{{'HOME.ICI'|translate}}</a>
    </p>
    <!-- <p>Nom : {{user?.firstName}}</p>
    <p>Prénom : {{user?.lastName}}</p>

    <p>E-mail : {{user?.email}} </p>
    <p>Téléphone : {{user?.phoneNumber}} </p>
    <hr style="margin-top : 70px">
    <p>Pour modifier vos informations <a routerLink="/edit-profil">cliquez ici</a></p>-->
  </div>


</div>