<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form class="form-horizontal" [formGroup]="form">
                <h2 class="text-center mb-5">{{'UPDATEPASSWORD.MESSAGE'|translate}}</h2>
                <p class="text-muted">{{'UPDATEPASSWORD.MESSAGE2'|translate}}</p>
                <div *ngIf="hasError"  class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="OldPassword" placeholder="{{'UPDATEPASSWORD.FIRST'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.OldPassword.errors }">
                  <div *ngIf="submitted && f.OldPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.OldPassword.errors.required">{{'UPDATEPASSWORD.PSWDREQ'|translate}}</div>
                </div>

                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password"  class="form-control" formControlName="NewPassword" placeholder="{{'UPDATEPASSWORD.NEW'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }">
                  <div *ngIf="submitted && f.NewPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.NewPassword.errors.required">{{'UPDATEPASSWORD.PSWDREQ'|translate}}</div>
                    <div *ngIf="f.NewPassword.errors.minlength">{{'UPDATEPASSWORD.PSWDERR'|translate}}</div>
                </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password"  class="form-control" formControlName="confirm" placeholder="{{'UPDATEPASSWORD.NEW2'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.confirm.errors }">
                  <div *ngIf="submitted && f.confirm.errors" class="invalid-feedback">
                    <div *ngIf="f.confirm.errors.required">{{'UPDATEPASSWORD.CONFIRM'|translate}}</div>
                    <div *ngIf="f.confirm.errors.mustMatch">{{'UPDATEPASSWORD.CONFIRMERR'|translate}}</div>
                </div>
               
                </div>
              
                
               
                <div class="row">
                  <div class="col-sm-6">
                      <button type="button" routerLink="/home" class="btn btn-outline-primary">{{'UPDATEPASSWORD.HOME'|translate}}</button>
                   
                  </div>
                  <div class="col-sm-6 tex">
                      <button  (click)="changePass()" class="btn btn-outline-success">{{'UPDATEPASSWORD.UPDATE'|translate}}</button>
                  </div>
                </div>
              </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
  </div>

    