<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                  <div class="row">
                      <div class="col text-center">
                        <img src="assets/img/logo-symbol.png" alt="" style="width:170px;" >
                      </div>
                    </div>
                <form  [formGroup]="form">
                  
                <h2 class="text-center mb-5">{{'RECOVER.FORGOT'|translate}}</h2>
                <p class="text-muted">{{'RECOVER.MESSAGE'|translate}}</p>
                <div *ngIf="hasError"  class="alert alert-danger" role="alert">
                        {{errorMessage}}
               </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="{{'RECOVER.USERMAIL'|translate}}" formControlName="usernameOrEmail" [ngClass]="{ 'is-invalid': submitted && f.usernameOrEmail.errors }">
                  <div *ngIf="submitted && f.usernameOrEmail.errors" class="invalid-feedback">
                    <div *ngIf="f.usernameOrEmail.errors.required">{{'RECOVER.USERMAILREQ'|translate}}</div>
                </div>
                </div>
               
                <div class="row">
                  <div class="col-6">
                    <a routerLink="/login" class="btn btn-link px-0">{{'RECOVER.LOGIN'|translate}}</a>
                  </div>
                  <div class="col-6 text-right">
                      <button type="button" class="btn btn-primary px-4" (click)="send()">{{'RECOVER.SEND'|translate}}</button>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  