
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form  class="form-horizontal" [formGroup]="form">
                  <div class="row">
                      <div class="col text-center">
                        <img src="assets/img/logo-symbol.png" alt=""  style="width:170px;">
                      </div>
                    </div>
                    <h2 class="text-center mb-5">{{'LOGIN.MESSAGE'|translate}} </h2>
                <div *ngIf="hasError" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                  <input type="text" class="form-control" formControlName="userName"   placeholder="{{'LOGIN.USERNAME'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                  <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">{{'LOGIN.USERNAMEREQ'|translate}}</div>
                </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="password" placeholder="{{'LOGIN.PSWD'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{'LOGIN.PSWDREQ'|translate}}</div>
                    <div *ngIf="f.password.errors.minlength">{{'LOGIN.PSWDERRUR'|translate}}</div>
                </div>

                </div>
                <div class="form-check checkbox mb-4">
                  <input class="form-check-input" name="remember" id="remember" type="checkbox" formControlName="remember_me">
                  <label class="form-check-label" for="remember">{{'LOGIN.REMEMBER'|translate}}</label>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4" (click)="Login()">{{'LOGIN.LOGIN'|translate}}</button>
                  </div>
                  <div class="col-6 text-right">
                    <a routerLink="/recover/password" class="btn btn-link px-0">{{'LOGIN.PSWDF'|translate}}</a>
                  </div>
              </div>
            </form>
            
            </div>
           
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
