<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" accept="image/png, image/jpg, image/jpeg , application/pdf"  #fileInput (change)="uploadFile($event.target.files)">

  </div>
  <div  class="files-list" *ngFor="let file of files ;let i= index">
      <p> {{ file }} </p>
      <button class="delete-file" (click)="deleteAttachment(i)">
        <img src="assets/img/RecycleImg.png">
        
      </button>
   </div>
   <!-- accept="image/png, image/jpg, image/jpeg , application/pdf" -->
